body {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  line-height: 1.33;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
