.visually-hidden {
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
