:root {
  --header-text-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #545454;
  --quality-text-color: #8c8c8c;
  --background-color: #ffffff;
  --accent-color: #ff6b08;
  --notification-color: #ff001b;
}
