:root {
    --header-text-color: #FFFFFF;
    --primary-text-color: #000000;
    --secondary-text-color: #545454;
    --quality-text-color: #8C8C8C;
    --background-color: #FFFFFF;
    --accent-color: #FF6B08;
    --notification-color: #FF001B;
    --secondary-background-color: #F7F7F7;
}
