<div class="backdrop is-hidden" data-modal>
  <div class="team-modal">
    <button type="button" class="close-btn">
      <svg class="icon-btn-close" width="18" height="18">
        <use href="./images/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
    <!-- Modal -->
    <ul class="team-list list">
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/oleh-desk-1x-min.jpg 1x,
              ./images/team/oleh-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/oleh-tab-1x-min.jpg 1x,
              ./images/team/oleh-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/oleh-mob-1x-min.jpg 1x,
              ./images/team/oleh-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/oleh-desk-1x-min.jpg"
            alt="Олег Семененко"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Олег Семененко</h3>
          <p class="team-position">Team Lead</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/eugen-desk-1x-min.jpg 1x,
              ./images/team/eugen-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/eugen-tab-1x-min.jpg 1x,
              ./images/team/eugen-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/eugen-mob-1x-min.jpg 1x,
              ./images/team/eugen-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/eugen-desk-1x-min.jpg"
            alt="Євген Сидоров"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Євген Сидоров</h3>
          <p class="team-position">Scrum Master</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/ivan-desk-1x-min.jpg 1x,
              ./images/team/ivan-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/ivan-tab-1x-min.jpg 1x,
              ./images/team/ivan-tab-2x-min.jpg 1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/ivan-mob-1x-min.jpg 1x,
              ./images/team/ivan-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/ivan-desk-1x-min.jpg"
            alt="Іван Довгопол"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Іван Довгопол</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/olga-desk-1x-min.jpg 1x,
              ./images/team/olga-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/olga-tab-1x-min.jpg 1x,
              ./images/team/olga-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/olga-mob-1x-min.jpg 1x,
              ./images/team/olga-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/olga-desk-1x-min.jpg"
            alt="Ольга Громова"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Ольга Громова</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/vadim-desk-1x-min.jpg 1x,
              ./images/team/vadim-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/vadim-tab-1x-min.jpg 1x,
              ./images/team/vadim-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/vadim-mob-1x-min.jpg 1x,
              ./images/team/vadim-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/vadim-desk-1x-min.jpg"
            alt="Вадим Чутур"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Вадим Чутур</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/dmytro_s-desk-1x-min.jpg 1x,
              ./images/team/dmytro_s-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/dmytro_s-tab-1x-min.jpg 1x,
              ./images/team/dmytro_s-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/dmytro_s-mob-1x-min.jpg 1x,
              ./images/team/dmytro_s-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/dmytro_s-desk-1x-min.jpg"
            alt="Дмитро Садковський"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Дмитро Садковський</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/iryna-desk-1x-min.jpg 1x,
              ./images/team/iryna-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/iryna-tab-1x-min.jpg 1x,
              ./images/team/iryna-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/iryna-mob-1x-min.jpg 1x,
              ./images/team/iryna-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/iryna-desk-1x-min.jpg"
            alt="Ірина Бондаренко"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Ірина Бондаренко</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/dmytro_p-desk-1x-min.jpg 1x,
              ./images/team/dmytro_p-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/dmytro_p-tab-1x-min.jpg 1x,
              ./images/team/dmytro_p-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/dmytro_p-mob-1x-min.jpg 1x,
              ./images/team/dmytro_p-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/dmytro_p-desk-1x-min.jpg"
            alt="Дмитро Пушкаренко"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Дмитро Пушкаренко</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/oleksandr-desk-1x-min.jpg 1x,
              ./images/team/oleksandr-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/oleksandr-tab-1x-min.jpg 1x,
              ./images/team/oleksandr-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/oleksandr-mob-1x-min.jpg 1x,
              ./images/team/oleksandr-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/oleksandr-desk-1x-min.jpg"
            alt="Олександр Костан"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Олександр Костан</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/andriy-desk-1x-min.jpg 1x,
              ./images/team/andriy-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="./images/team/andriy-tab-1x-min.jpg 1x, ./images/team/andriy-tab-2x-min.jpg x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/andriy-mob-1x-min.jpg 1x,
              ./images/team/andriy-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/andriy-desk-1x-min.jpg"
            alt="Андрій Юрченко"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Андрій Юрченко</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
      <li class="team-item">
        <picture class="team-picture">
          <source
            srcset="
              ./images/team/vlad-desk-1x-min.jpg 1x,
              ./images/team/vlad-desk-2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/team/vlad-tab-1x-min.jpg 1x,
              ./images/team/vlad-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/vlad-mob-1x-min.jpg 1x,
              ./images/team/vlad-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/team/vlad-desk-1x-min.jpg"
            alt="Владислав Федченко"
            class="team-img"
            width="290"
          />
          <h3 class="team-title">Владислав Федченко</h3>
          <p class="team-position">Frontend developer</p>
        </picture>
      </li>
    </ul>
  </div>
</div>
