<footer>
  <div class="container footer-box">
    <div class="top-box">
      <p class="top-box__sumb">&#169;</p>
      <p class="top-box__text">2020</p>
      <p class="top-box__text">All Rights Reserved</p>
    </div>
    <div class="bottom-box">
      <p class="bottom-box__text">
        Developed with
        <svg width="14" height="13" class="bottom-box__svg">
          <use href="./images/symbol-defs.svg#icon-favorite"></use>
        </svg>
        by GoIT Students
      </p>
      <p class="bottom-box__text">
        Thanks for
        <a
          href="https://www.themoviedb.org/"
          class="bottom-box__link"
          target="_blank"
          >API</a
        >
      </p>
    </div>
  </div>
</footer>
