<header class="header header__main-bckg">
  <div class="container header__container">
    <div class="header__section">
      <nav class="header__nav">
        <a class="header__logo js-logo" href="./index.html">
          <img src="/src/images/reel-white.gif" alt="" class="header__logo-icon">
          <span class="header__logo-name">Filmoteka</span>
        </a>
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link current" href="./index.html">Home</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__searcher">
      <form class="header__form" role="search">
        <input
          class="header__input"
          type="text"
          name="query"
          placeholder="Movie search"
          autocomplete="off"
        />
        <button type="submit" class="header__input-btn">
          <svg class="header__search-icon" width="12" height="12">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <p class="search-notification" id="search-notification"></p>
    </div>
  </div>
</header>
