<div class="backdrop-video is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button" type="button" data-modal-close>
      <svg class="modal__icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
    <div class="modal-box">
      <iframe
        class="modal__video"
        src=""
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<button class="button-trailer" type="button">Trailer</button>
