<section class="section-slider">
  <div class="container section-slider__container">
    <div class="wrapper">
      <div class="slider swiper mySwiper">
        <ul class="slider-list swiper-wrapper js-slider"></ul>
      </div>
      <button type="button" class="slider__button slider__button--prev">
        <svg height="10" width="10" class="slider__svg">
            <use href="./images/symbol-defs.svg#chevron-left"></use>
        </svg>
      </button>
      <button type="button" class="slider__button  slider__button--next">
        <svg height="10" width="10" class="slider__svg">
            <use href="./images/symbol-defs.svg#chevron-right"></use>
        </svg>
    </button>
    </div>
  </div>
</sectibutton
