.modal {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  max-width: 480px;
  max-height: 600px;

  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--primary-text-color);
  padding: 48px 20px 40px 20px;

  @include tablet {
    display: flex;
    gap: 68px;
    align-items: stretch;
    max-height: 552px;
    max-width: 704px;
    padding: 40px 72px 40px 36px;
  }

  @include desktop {
    display: flex;
    gap: 16px;
    max-width: 806px;
    max-height: 558px;
    padding: 40px 12px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;
  
}

.modal__icon {
  fill: var(--primary-text-color);
  transition: fill 250ms linear;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px -3px 20px 1px #645c5cbf;

  @include tablet {
    width: 264px;
    height: 373px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.film__image {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // background-image: url(/src/images/poster-placeholder.png);




  @include tablet {
    margin-bottom: 0;
    margin-left: 0;
    width: 264px;
    height: 373.55px;
  }

  @include desktop {
    width: 396px;
    height: 477.8px;
  }
}

.film__overlay {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-text-color);
  opacity: 1;
  z-index: 3;


  transition: opasity 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    opacity: 0.2;
  }
}

.btn-play {
  z-index: 5;
  visibility: hidden;
  transition: visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    visibility: visible;
  }
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 20px;

  @include desktop {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__list {
  margin: 0;
  margin-bottom: 20px;
}

.film__item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.film__details {
  color: var(--quality-text-color);
  min-width: 108px;
}

.film__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.film__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--header-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
}

.film__rating--divider {
  margin-right: 3px;
  color: var(--quality-text-color);
}

.film__about {
  margin-bottom: 20px;
}

.film__about-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.film__about-text {
  overflow-y: auto;
  line-height: 1.67; 
  max-height: 236px;

  @include desktop {
    max-height: 160px;
  }
}

.button-wrapper {
  display: flex;
}

.film__button {
  background-color: transparent;
  border: none;
}



.btn__trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{
    opacity: 1.0;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  }
}

