.button {
        border: none;
        background-color: inherit;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;

        padding-right: 16px;
        padding-left: 16px;

        svg {
            vertical-align: middle;
        }

        &.disabled {
            display: none;
        }
    }

.selected {
    background-color: var(--accent-color);
    border-radius: 5px;
    height: 40px;
    color: var(--header-text-color);
}

.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.pagination-first, .pagination-last {
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    height: 40px;
}

