.movie {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

.movie__item {
  max-width: 280px;
  border-radius: 5px;

  &:hover,
  &:focus {
    box-shadow: 0 5px 10px var(--primary-text-color);
  }
}

.movie__item:not(:last-child) {
  margin-bottom: 20px;
}

.movie__link {
  cursor: pointer;
}

.movie__image {
  width: 280px;
  height: 398px;
  border-radius: 5px;
}

.movie__description {
  font-weight: 500;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-text-color);
  padding: 5px;
}

.movie__title {
  text-transform: uppercase;
  max-width: 395px;
}

.movie__info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--accent-color);
}
.movie__rating {
  font-size: 12px;
  line-height: 14px;
  padding: 1px 6px;
  background: #ff6b01;
  border-radius: 5px;
  color: white;
}

@include tablet {
  .movie {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .movie__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: calc(-1 * 32px);
    margin-left: calc(-1 * 32px);
  }

  .movie__item {
    max-width: 336px;
    display: flex;
    flex-basis: calc(100% / 2 - 32px);
    margin-top: 32px;
    margin-left: 32px;

    &:hover,
    &:focus {
      transition-property: transform;
      transform: scale(1.07);
      transition-duration: 500ms;
    }
  }

  .movie__item:not(:last-child) {
    margin-bottom: 0;
  }

  .movie__image {
    width: 336px;
    height: 455px;
  }
}

@include desktop {
  .movie__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: calc(-1 * 32px);
    margin-left: calc(-1 * 32px);
  }

  .movie__item {
    max-width: 395px;
    display: flex;
    flex-basis: calc(100% / 3 - 32px);
    margin-top: 32px;
    margin-left: 16px;
  }

  .movie__image {
    width: 395px;
    height: 574px;
  }

  .movie__description {
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px;
  }
}
.default-height {
  min-height: calc(100vh - 388px);

  @include tablet {
    min-height: calc(100vh - 298px);
  }

  @include desktop {
    min-height: calc(100vh - 293px);
  }
}

.background-lib {
  background-image: url(/src/images/poster-placeholder.png);
  background-color: #f7f7f7;
  width: 100%;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
