.trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;

  width: 460px;
  height: 256px;

  @include tablet {
    width: 704px;
    height: 392px;
  }

  @include desktop {
    width: 806px;
    height: 448px;
  }
}

.trailer__button-close {
  position: absolute;
  top: -20px;
  right: -20px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 1;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: none;

  cursor: pointer;

  fill: white;
  background-color: transparent;

  transition: fill 250ms;

  &:hover,
  &:focus {
    fill: #ff6b08;
  }

  @include tablet {
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
  }

  @include desktop {
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
  }
}
